/* Componente.module.css */
.Contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    background-color: white;
    color:#051122;
    font-weight: bolder;
    height: 40px;
    margin-top: 60px;
}

.section {
    display: flex;
    flex-direction: column;
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 375px) {
    .Contenedor {
        flex-direction: column;
        height: auto;
        padding: 10px;
        margin-top: 100px;
    }
    
    .section {
        margin-top: 10px;
    }
    
    /* Otros estilos móviles que desees agregar */
}
