/* Form.module.css */

.formContainer {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
  padding-top: 60px;
  font-size: 15px;
}

.label {
  font-weight: bold;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.textarea {
  width: 100%;
  padding: 5px;
  height: 100px;
  margin-bottom: 10px;
}

.checkboxLabel {
  display: flex;
  align-items: center;
}

.checkbox {
  margin-right: 5px;
}

.error {
  color: red;
  margin-top: 5px;
}

.button {
  position: relative;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: -1;
}

.button:hover:before {
  transform: translateX(0);
}

.button:disabled {
  background-color: gray;
  cursor: not-allowed;
  transition: none; /* Eliminar la transición cuando el botón esté desactivado */
}

.button:hover {
  transform: scale(1.1);
  color: #4caf50;
  font-weight: bold; /* Cambiar el color del texto al pasar el mouse */
}

.button:active {
  transform: scale(0.9);
}

@media screen and (max-width: 480px) {
  .formContainer {
    width: 100%;
  }
}
