/* Navbar.module.css */
.Contenedor {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
    border-radius: 15px;
    border: 1px solid black;
    background-color: #013438;
    height: 45px;
    width: 100%;
    z-index: 999;
}

.text {
    font-size: 20px;
    transition-duration: 0.4s;
    color: white;
}

.text:hover {
    color: #FF6B79;
}

.iconLinkedin:hover {
    transform: scale(1.1, 1.1);
}

/* Agregar estilos para dispositivos móviles */
@media only screen and (max-width: 375px) {
    .Contenedor {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }
    
    .text {
        font-size: 16px;
    }
    
    /* Otros estilos móviles que desees agregar */
}
